
/* Your CSS Code here. */
.main {
	width : 600px;
	height : 600px;
	background-color : skyblue;
	display : flex;
	flex-wrap : wrap;
}
.d1 {
	height : 200px;
	width :180px;
	background-color : pink;
	border : 2px solid black;
}